<p>Signed in as : <%= @user.username %></p>
<%= link_to h("My Bookmarks"), "/user/#{@user.id}/bookmarks" %>

<div id="tech_posts">
  <h3>Reddit Technology</h3>
  <ul>
  <% for entry in Entry.all.limit(10).order(:published_at => 'desc') %>
    <li><%= link_to h(entry.name), entry.url %><button class="bookmark" value="<%= entry.id %>">Bookmark</button></li>
  <% end %>
  </ul>
</div>

<%= javascript_tag do %>
  var user_id = '<%= @user.id %>';
<% end %>

<script>
  var refreshFeed = function () {
    $.ajax({
        url: '/entries',  //Server script to process data
        type: 'GET',
        dataType: 'json',
        //Ajax events
        success: function (data) {
          $('#tech_posts ul').empty();
          data.entries.forEach(function (data) {
            $('#tech_posts ul').append(
              $('<li>').append(
                $('<a>').attr('href',data.url).append(data.name).append(
                  $('<button class="bookmark">').attr('value',data.id).append("Bookmark")
            )));
          });
        },
        error: function () {
            console.log("oops");
        }
    });
  };

  $(document).ready(setInterval(refreshFeed, 60000));

  $(document).on('click', '.bookmark', function(e) {
    var entry_id = $(e.target).val();
    $.ajax({
        url: ('/user/' + user_id + '/index'),  //Server script to process data
        type: 'POST',
        dataType: 'json',
        data: {entry_id: entry_id,
               user_id: user_id},
        //Ajax events
        success: function (data) {
            console.log("bookmarked");
        },
        error: function () {
            console.log("oops");
        }
    });
  });
</script>