<div>
<h3>Signed in as : <em><%= @user.username %></em></h3>
<button class="btn btn-info navigation"><%= link_to h("My Bookmarks"), "/user/#{@user.id}/bookmarks" %></button>
</div>

<div id="tech_posts">
  <h3>Reddit Technology Feed</h3>
  <ul>
  <% for entry in Entry.all.limit(25).order(:published_at => 'desc') %>
    <li>
      <div class="well well-sm entry">
        <%= link_to h(entry.name), entry.url %>
        <button type="button" class="bookmark btn btn-warning btn-sm pull-right" value="<%= entry.id %>" aria-label="Left Align">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </button>
      </div>
    </li>
  <% end %>
  </ul>
</div>

<%= javascript_tag do %>
  var user_id = '<%= @user.id %>';
<% end %>

<script>
  $(document).ready(setInterval(refreshFeed, 60000));

  $(document).on('click', '.bookmark', function(e) {
    var entry_id = $(e.target).parent().val();

    $.ajax({
        url: ('/user/' + user_id + '/index'),  //Server script to process data
        type: 'POST',
        dataType: 'json',
        data: {entry_id: entry_id,
               user_id: user_id},
        //Ajax events
        success: function (data) {
            console.log("bookmarked");
        },
        error: function () {
            console.log("oops");
        }
    });
  });
</script>